.header {
    text-align:center;
    background:hsl(213deg 16% 22%);
}

.header span  {
    color:hsl(139deg 70% 34%);
    font-size:15pt;
    font-weight:bold;
}

.header span  img {
    height:2.5rem;
    margin-bottom:.5rem;
    margin-right:2rem;
    vertical-align: middle;
}

body {
    margin:0px;
    background:black;
}

.app {
    max-width:800px;
    margin:0 auto;
    font-family:Roboto,sans-serif;
    min-height:500px;
    background:hsl(300deg 25% 98%);
}

.btn {
    padding:0.5rem 1rem;
    font-size:11.5pt;
    margin:1rem;
    background-color:hsl(139deg 70% 34%);
    border:1px solid hsl(139deg 70% 34%);
    color:white;
    font-weight:bold;
}


.btn[disabled] {
    cursor:not-allowed;
}
.btn[disabled], .btn.restart {
    background: transparent !important;
    color:hsl(139deg 70% 34%);
}
.diapositiva {
    margin:0 auto;
    border: 1px solid #eee;
    text-align:center;
    padding: 1rem;
    min-height:300px;
    max-width:70%;
    background:hsl(300deg 50% 99%);
}


.botones {
    text-align:center;
    margin-top:1rem;
}

.btn {
    transition:.2s ease;
}

.diapositiva h2 {
    font-size:30pt;
    color:hsl(219deg 15% 23%);
}